<section class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center">Create a New Car</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <input class="form-control" type="text" name="driver_name" placeholder="Driver name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="license_plate" placeholder="License Plate">
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Create">
        </div>
    </div>
</section>